@inject IWebHelper WebHelper
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link @(WebHelper.IsMatchRouteInfo("Home", "Index") ? "active" : "")" asp-controller="Home"
           asp-action="Index">Trang chủ</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle @(WebHelper.IsHasController("Order", "Preparation", "DeliveryNote") ? "active" : "")" href="#"
               id="orderMenuItemsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bán hàng
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("Order", "List") ? "active" : "")"
                   asp-controller="Order" asp-action="List">Đơn hàng</a>
            </li>
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("DeliveryNote", "List") ? "active" : "")"
                   asp-controller="DeliveryNote" asp-action="List">Phiếu xuất kho</a>
            </li>
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("Preparation", "List") ? "active" : "")"
                   asp-controller="Preparation" asp-action="List">Chuẩn bị hàng</a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle @(WebHelper.IsHasController("PurchaseOrder", "Inventory") ? "active" : "")"
               href="#" id="inventoryMenuItemsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nhập xuất
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("PurchaseOrder", "List") ? "active" : "")"
                   asp-controller="PurchaseOrder" asp-action="List">Đơn nhập</a>
            </li>
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("Inventory", "StockList") ? "active" : "")"
                   asp-controller="Inventory" asp-action="StockList">Tồn kho</a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle @(WebHelper.IsHasController("Customer") ? "active" : "")" href="#"
               id="customerMenuItemsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Khách hàng
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("Customer", "List") ? "active" : "")"
                   asp-controller="Customer" asp-action="List">Khách hàng</a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle @(WebHelper.IsHasController("Category", "Product", "Warehouse", "Vendor") ? "active" : "")"
               href="#" id="catalogMenuItemsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hàng hóa
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("Product") ? "active" : "")"
                   asp-controller="Product" asp-action="Index">Hàng hóa</a>
            </li>
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("Category") ? "active" : "")"
                   asp-controller="Category" asp-action="Index">Danh mục</a>
            </li>
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("Warehouse") ? "active" : "")"
                   asp-controller="Warehouse" asp-action="Index">Kho hàng</a>
            </li>
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("Vendor") ? "active" : "")" asp-controller="Vendor"
                   asp-action="Index">Nhà cung cấp</a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle @(WebHelper.IsHasController("Report") || WebHelper.IsHasController("Expense") ? "active" : "")" href="#"
               id="reportMenuItemsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tài chính & Báo cáo
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("Report", "Financial") ? "active" : "")"
                   asp-controller="Report" asp-action="Financial">Báo cáo Mua Bán</a>
            </li>
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("Expense") ? "active" : "")"
                   asp-controller="Expense" asp-action="Index">Quản lý Chi phí (OPEX)</a>
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle @(WebHelper.IsHasController("UnitMeasurement") ? "active" : "")" href="#"
               id="otherMenuItemsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Khác
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item @(WebHelper.IsMatchRouteInfo("UnitMeasurement") ? "active" : "")"
                   asp-controller="UnitMeasurement" asp-action="Index">Đơn vị tính</a>
            </li>
        </ul>
    </li>
</ul>