@model CreatePurchaseOrderModel
@using NamEcommerce.Web.Contracts.Models.Common
@{
    ViewData[ViewConstants.PageTitle] = "Tạo đơn nhập hàng";
}

<section class="content-title my-4 text-center">
    <h1>Thêm mới</h1>
    <a asp-action="List" class="text-muted d-block fs-3 ps-2 text-decoration-none">Đơn nhập hàng</a>
</section>

<section class="content-data">
    <div>
        <div class="p-4 shadow border rounded offset-lg-2 col-lg-8">
            <div class="d-flex justify-content-end mb-2">
                <a asp-action="List" class="text-muted small text-decoration-none">
                    <i class="bi bi-arrow-90deg-left"></i>
                    Trở lại
                </a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <form class="g-3" method="post" asp-antiforgery="true">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label class="form-label" asp-for="VendorId"></label>
                        <select asp-for="VendorId" class="form-select">
                            <option value="" selected="@(!Model.VendorId.HasValue)">(Không chọn)</option>
                            @foreach (var vendor in Model.AvailableVendors)
                            {
                                <option value="@vendor.Id" selected="@(Model.VendorId == vendor.Id)">@vendor.Name</option>
                            }
                        </select>
                        <span asp-validation-for="VendorId" class="text-danger small"></span>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7 mb-3">
                        <label class="form-label" asp-for="WarehouseId"></label>
                        <select asp-for="WarehouseId" class="form-select">
                            <option value="" selected="@(!Model.WarehouseId.HasValue)">(Không chọn)</option>
                            @foreach (var warehouse in Model.AvailableWarehouses)
                            {
                                <option value="@warehouse.Id" selected="@(Model.WarehouseId == warehouse.Id)">@warehouse.Name</option>
                            }
                        </select>
                        <span asp-validation-for="WarehouseId" class="text-danger small"></span>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 mb-3">
                        <label asp-for="ExpectedDeliveryDate" class="form-label"></label>
                        <input asp-for="ExpectedDeliveryDate" class="form-control" type="date" />
                        <span asp-validation-for="ExpectedDeliveryDate" class="text-danger small"></span>
                    </div>
                    <div class="col-12 mb-4">
                        <label asp-for="Note" class="form-label"></label>
                        <textarea asp-for="Note" class="form-control" rows="3" placeholder="@Html.DisplayNameFor(m => m.Note)"></textarea>
                        <span asp-validation-for="Note" class="text-danger small"></span>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
