@model ReceivePurchaseOrderItemModel
@{
    var availableWarehouses = ViewData["AvailableWarehouses"] as EntityOptionListModel;
}
<form asp-action="Receive" method="post">
    <input type="hidden" asp-for="PurchaseOrderId" id="receiveItemPurchaseOrderId" />
    <input type="hidden" asp-for="PurchaseOrderItemId" />
    <div class="d-flex align-items-start gap-2 w-100 text-start">
        <div class="flex-grow-1">
            <input type="number" asp-for="ReceivedQuantity" class="form-control form-control-sm"
                   min="0" max="@Model.RemainingQuantity" step="0.01"
                   data-val-required="Vui lòng nhập số lượng"
                   data-val-range="Số lượng phải lớn hơn 0." data-val-range-min="0.000000000000000001" data-val-range-max="@Model.RemainingQuantity"
                   data-val-number="Số lượng không đúng." />
            <span asp-validation-for="ReceivedQuantity" class="d-block text-danger small"></span>
        </div>
        @if (Model.WarehouseRequired)
        {
            <div class="flex-grow-1">
                <select asp-for="WarehouseId" class="form-select form-select-sm"
                    data-val="true" data-val-required="Vui lòng chọn kho nhập hàng">
                    <option value="">(Chọn kho)</option>
                    @if (availableWarehouses != null)
                    {
                        foreach (var option in availableWarehouses.Options)
                        {
                            <option value="@option.Id" selected="@(Model.WarehouseId == option.Id)">@option.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="WarehouseId" class="d-block text-danger small"></span>
            </div>
        }
        <button type="submit" class="btn btn-sm btn-success">Nhập</button>
    </div>
</form>