@model PurchaseOrderModel
@if ((PurchaseOrderStatus)Model.Status == PurchaseOrderStatus.Draft)
{
    <form asp-action="SubmitsPurchaseOrder" method="post">
        <input type="hidden" asp-for="Id" id="changeStatusSubmitId" />
        <button type="submit" class="btn btn-primary" disabled="@(Model.Items.Count == 0)">
            <i class="bi bi-person"></i>
            Gửi duyệt
        </button>
    </form>
}
@if ((PurchaseOrderStatus)Model.Status == PurchaseOrderStatus.Submitted)
{
    <div class="d-flex gap-2">
        <form asp-action="ChangeStatus" method="post">
            <input type="hidden" asp-for="Id" id="changeStatusApproved" />
            <input type="hidden" name="@Html.NameFor(m => m.Status)" value="@((int)PurchaseOrderStatus.Approved)" />
            <button type="submit" class="btn btn-secondary">
                <i class="bi bi-check-lg"></i>
                Phê duyệt
            </button>
        </form>
        <form asp-action="ChangeStatus" method="post">
            <input type="hidden" asp-for="Id" id="changeStatusCancelled" />
            <input type="hidden" name="@Html.NameFor(m => m.Status)" value="@((int)PurchaseOrderStatus.Cancelled)" />
            <button type="submit" class="btn btn-light">
                <i class="bi bi-x-lg"></i>
                Hủy đơn
            </button>
        </form>
    </div>
}
