@model PurchaseOrderModel
@{
    var receiveItemModels = ViewData["ReceiveItemModels"] as IEnumerable<ReceivePurchaseOrderItemModel>;
    var isFinished = Model.Status == (int)PurchaseOrderStatus.Completed || Model.Status == (int)PurchaseOrderStatus.Cancelled;
}
<h6 class="text-muted">Danh sách hàng hóa</h6>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th class="ps-3">Sản phẩm</th>
                <th class="text-end">SL đặt</th>
                <th class="text-end">Giá nhập</th>
                <th class="text-end">Thành tiền</th>
                @if (isFinished)
                {
                    <th class="text-center">Đã nhận</th>
                }
                else
                {
                    <th class="text-end">Đã nhận</th>
                    <th class="text-end @(Model.CanReceiveGoods ? "" : "pe-3")">Còn lại</th>
                    @if (Model.CanReceiveGoods)
                    {
                        <th></th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Count > 0)
            {
                foreach (var item in Model.Items)
                {
                    <tr class="align-middle">
                        <td class="ps-3">
                            <span class="d-block">@item.ProductName</span>
                            @if (!string.IsNullOrEmpty(item.Note))
                            {
                                <span class="text-muted">[@item.Note]</span>
                            }
                        </td>
                        <td class="text-end">@item.QuantityOrdered.ToString(ViewConstants.NumberCustomFormat)</td>
                        <td class="text-end">@item.UnitCost.ToString(ViewConstants.NumberCustomFormat) đ</td>
                        <td class="text-end">@item.TotalCost.ToString(ViewConstants.NumberCustomFormat) đ</td>
                        @if (isFinished)
                        {
                            <td>
                                @if (item.RemainingQuantity > 0)
                                {
                                    <div class="text-end ">
                                        <span class="pe-3 text-danger fw-bold">
                                            @item.QuantityReceived.ToString(ViewConstants.NumberCustomFormat)
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <div class="text-center">
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                        <span class="d-none d-lg-inline text-success">Đã nhận đủ</span>
                                    </div>
                                }
                            </td>
                        }
                        else
                        {
                            <td class="text-end text-success fw-bold">@item.QuantityReceived.ToString(ViewConstants.NumberCustomFormat)</td>
                            <td class="text-end @(Model.CanReceiveGoods ? "" : "pe-3") @(item.RemainingQuantity > 0 ? "text-warning" : "text-muted")">
                                @item.RemainingQuantity.ToString(ViewConstants.NumberCustomFormat)
                            </td>
                            @if (Model.CanReceiveGoods)
                            {
                                @if (item.RemainingQuantity > 0)
                                {
                                    var receiveModel = receiveItemModels?.FirstOrDefault(receiveItem => receiveItem.PurchaseOrderItemId == item.Id);
                                    <td class="text-end pe-3">
                                        @if (receiveModel is null)
                                        {
                                            @:This is bug
                                        }
                                        else
                                        {
                                            <partial name="Details.ReceiveItem" model="receiveModel" />
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                        <span class="d-none d-lg-inline text-muted">Đã nhận đủ</span>
                                    </td>
                                }
                            }
                        }
                    </tr>
                }
            }
            else
            {
                    
                <tr>
                    <td colspan="@(isFinished ? 5 : Model.CanReceiveGoods ? 7 : 6)">
                        <p class="my-2 ps-2">
                            <span class="text-muted">Chưa có dữ liệu</span>
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
